* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-image: url(./assets/background_1.jpg);
}

.navbar {
    background-image: url(./assets/background_2.jpg);
    background-size: cover ;
}

.profile__contact {
    text-decoration: none;
    color: #0E64AF;
}

.button-uno {
    background-color: #0E64AF;
    border: none;
}

.button-uno:hover {
    background-color: #2C7AC2;
    border: none;
}

.button-dos, .button-tres {
    background-color: #C73945;
    border: none;
}

.button-dos:hover, .button-tres:hover {
    background-color: #E84556;
    border: none;
}